
#button1 {
  background-color: #281a45;
}
#button2 {
  background-color: #49307e;
}
#button3 {
  background-color: #6a46b8;
}
#button4 {
  background-color: #915ffa;
}
#button5 {
  background-color: #502a4c;
}
#button6 {
  background-color: #85467d;
}
#button7 {
  background-color: #c266b7;
}
#button8 {
  background-color: #fe86f0;
}
#button9 {
  background-color: #4e2c27;
}
#button10 {
  background-color: #834942;
}
#button11 {
  background-color: #bd6a5f;
}
#button12 {
  background-color: #fa8c7e;
}
#button13 {
  background-color: #555c30;
}
#button14 {
  background-color: #8f9a52;
}
#button15 {
  background-color: #bbc96a;
}
#button16 {
  background-color: #ecfe86;
}
