body {
  background-color: rgb(47, 47, 47);
  color: lightsteelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid wheat;
  border-radius: 8px;

  box-shadow: 1px 1px 3.5px 4px rgba(169, 194, 214, 0.384);
}
button {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 5px;
  font-size: 50px;
}

.st {
  transition: 0.3s ease;
}
.st:hover {
  transform: scale(1.1);

  border: 2.5px solid rgb(202, 213, 235);
  box-shadow: 0px 0px 2px 3.5px rgba(54, 52, 52, 0.5);
}
a {
  text-decoration: none;
  color: black;
}
#▶️,
#⏪,
#⏩ {
  height: 60px;
  width: 80px;
  background-color: rgb(47, 47, 47);
}

.controls {
  margin-top: 10px;
  margin-left: 140px;
}
