body {
  background-color: rgb(47, 47, 47);
  color: lightsteelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
button {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 5px;
  font-size: 30px;
}

.st {
  transition: 0.3s ease;
}
.st:hover {
  transform: scale(1.1);
}
/* .st:active {

} */
#button1 {
  background-color: #210759;
}
#button2 {
  background-color: #320b85;
}
#button3 {
  background-color: #470fbd;
}
#button4 {
  background-color: #6015fe;
}
#button5 {
  background-color: #023851;
}
#button6 {
  background-color: #05608c;
}
#button7 {
  background-color: #0683be;
}
#button8 {
  background-color: #08a1eb;
}
#button9 {
  background-color: #095851;
}
#button10 {
  background-color: #11afa2;
}
#button11 {
  background-color: #14d1c1;
}
#button12 {
  background-color: #1afdea;
}
#button13 {
  background-color: #0b5422;
}
#button14 {
  background-color: #138a38;
}
#button15 {
  background-color: #19b549;
}
#button16 {
  background-color: #20eb5f;
}
#shuffle,
#solve,
#Reset {
  height: 50px;
}
