#button1 {
  background-color: #87FE98;
}
#button2 {
  background-color: #66C173;
}
#button3 {
  background-color: #4A8C53;
}
#button4 {
  background-color: #35653C;
}
#button5 {
  background-color: #244428;
}

#button6 {
  background-color: #2A3F4C;
}
#button7 {
  background-color: #426478;
}
#button8 {
  background-color: #5C8AA7;
}
#button9 {
  background-color: #70A9CC;
}
#button10 {
  background-color: #8CD2FD;
}

#button11 {
  background-color: #281B4E;
}
#button12 {
  background-color: #3D2975;
}
#button13 {
  background-color: #53389F;
}
#button14 {
  background-color: #724DDB;
}
#button15 {
  background-color: #8459FC;
}

#button16 {
  background-color: #FCA06B;
}
#button17 {
  background-color: #C77E54;
}
#button18 {
  background-color: #986141;
}
#button19 {
  background-color: #6C452E;
}
#button20 {
  background-color: #533423;
}
