
#button1 {
  background-color: #543802;
}
#button2 {
  background-color: #aa7105;
}
#button3 {
  background-color: #ce8906;
}
#button4 {
  background-color: #fba708;
}
#button5 {
  background-color: #3f5305;
}
#button6 {
  background-color: #688b08;
}
#button7 {
  background-color: #8dbb0b;
}
#button8 {
  background-color: #bbf80f;
}
#button9 {
  background-color: #024801;
}
#button10 {
  background-color: #047d02;
}
#button11 {
  background-color: #06b904;
}
#button12 {
  background-color: #08f705;
}
#button13 {
  background-color: #055438;
}
#button14 {
  background-color: #08895b;
}
#button15 {
  background-color: #0bbc7e;
}
#button16 {
  background-color: #0ffea9;
}
