
#button1 {
  background-color: #390000;
}
#button2 {
  background-color: #660100;
}
#button3 {
  background-color: #9a0100;
}
#button4 {
  background-color: #cd0200;
}
#button5 {
  background-color: #fc0200;
}
#button6 {
  background-color: #fc1774;
}
#button7 {
  background-color: #cf135f;
}
#button8 {
  background-color: #a60f4c;
}
#button9 {
  background-color: #770b37;
}
#button10 {
  background-color: #3c051b;
}
#button11 {
  background-color: #4c1702;
}
#button12 {
  background-color: #6c2104;
}
#button13 {
  background-color: #942e05;
}
#button14 {
  background-color: #c73d07;
}
#button15 {
  background-color: #f84d09;
}
#button16 {
  background-color: #adfc00;
}
#button17 {
  background-color: #8dce00;
}
#button18 {
  background-color: #71a400;
}
#button19 {
  background-color: #557c00;
}
#button20 {
  background-color: #395300;
}
